@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

form {
    font-family: 'Inter','Ubuntu',Helvetica,Arial,sans-serif;
    color: rgb(155, 154, 154);
    margin: 1rem;
}

div.line-one {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

div.line-one > label {
    width: 50%;
    font-size: 13pt;
}

div.line-one > label.video-name > input {
    padding: 16px;
    width: 90%;
    font-size: 14pt;
    background-color: transparent;
    color: rgb(160, 158, 158);
    border-radius: 8px;
    border: 3px solid red;
    margin-top: 10px;
}

div.line-one > label.video > select {
    padding: 16px;
    width: 100%;
    font-size: 14pt;
    background-color: transparent;
    color: rgb(160, 158, 158);
    border-radius: 8px;
    border: 3px solid red;
    margin-top: 10px;
}
