* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    margin: 1.5rem 1rem 0rem 1rem;
    justify-content: space-between;
    align-items: center;
}

div.input-add {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.input-add>button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 14px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-size: 15pt;
    border: none;
    width: 70%;
}

div.input-add>button:hover {
    background-color: rgb(44, 44, 245);
    transition: 0.4s;
}

section.tool-bar {
    display: flex;
    align-items: center;
}

section.tool-bar>.links {
    background-color: transparent;
    border: none;
    color: rgb(155, 154, 154);
    margin-inline: 4rem;
    font-size: 13pt;
}

section.tool-bar>.links:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.06);
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid red;
    cursor: pointer;
}