* {
    margin: 0;
    padding: 0
}

div.card {
    display: flex;
    margin: 1rem;
    background-color: #141414;
    border-radius: 20px;
}

div.card:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.01);
}

a.link {
    text-decoration: none;
    color: white;
}

div.card > header.card-folder > a.link > img {
    width: 250px;
    margin: 17px;
    border-radius: 10px;
}

div.card > header.card-folder > a.link > img:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.03);
}

div.card > header.card-folder {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

div.card > section.card-information {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

div.card > section.card-information > a.link > h1 {
    background: -webkit-linear-gradient(#ff0000, #800000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20pt;
    text-align: center;
}

div.card > section.card-information > p {
    margin-top: 2rem;
    color: #87878d;
    margin-right: 15px;
}

div.card > section.card-trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
}

@media screen and (max-width: 600px) {
    div.card {
        display: flex !important;
        flex-direction: column;
    }
    
    div.card > header.card-folder {
        position: absolute;
    }

    div.card > header.card-folder > a.link > img {
        width: 10rem !important;
        margin: 10px;
        border-radius: 10px;
    }

    div.card > section.card-information {
        display: flex;
        margin-left: 12rem !important;
    }

    div.card > section.card-information > .synopsis {
        margin-left: -11rem;
    }
    
    div.card > section.card-information > a.link > h1 {
        font-size: 20pt;
        text-align: center;
    }

    div.card > section.card-information > p {
        margin-top: 1rem;
        color: #87878d;
        margin-right: 15px;
    }

    div.card > section.card-trailer > iframe {
        width: 90rem;
        height: 250px;
        margin: 1rem;
    }
}

@media screen and (max-width: 500px) {
    div.card {
        display: flex !important;
        flex-direction: column;
    }
    
    div.card > header.card-folder {
        position: absolute;
    }

    div.card > header.card-folder > a.link > img {
        width: 9rem !important;
        margin: 10px;
        border-radius: 10px;
    }

    div.card > section.card-information {
        display: flex;
        margin-left: 11rem !important;
    }

    div.card > section.card-information > .synopsis {
        margin-left: -10rem;
        margin-top: 2.5rem !important;
    }
    
    div.card > section.card-information > a.link > h1 {
        font-size: 16pt;
        text-align: center;
    }

    div.card > section.card-information > p {
        margin-top: 1rem !important;
        margin-right: 15px;
        font-size: 12pt;
        color: #87878d;
    }

    div.card > section.card-trailer > iframe {
        width: 90rem;
        height: 250px;
        margin: 1rem;
    }
}
