* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    margin: 1.5rem 1rem 0rem 1rem;
    justify-content: space-between;
    align-items: center;
}

div.input-search {
    width: 20%;
    display: flex;
    justify-content: center;
}

div.input-search > input {
    padding: 13px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-size: 13pt;
    border: 2px solid gray;
    width: 90%;
}

section.tool-bar {
    display: flex;
    align-items: center;
}

section.tool-bar > .links {
    background-color: transparent;
    border: none;
    color: rgb(155, 154, 154);
    margin-inline: 4rem;
    font-size: 13pt;
}

section.tool-bar > .links:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid red;
    cursor: pointer;
}