* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #0c0b0b;
    color: white;
}

div.navbar {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

section.tool-bar {
    display: flex;
}

section.tool-bar > button {
    background-color: transparent;
    border: none;
    color: white;
    margin-inline: 5rem;
    font-size: 12pt;
}

section.tool-bar > button:hover {
    text-decoration: underline;
}

section.tool-bar > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}