* {
    margin: 0;
    padding: 0;
}

div.container-users {
    display: flex;
    align-items: initial;
    margin-top: 3rem;
    justify-content: center;
    height: 70vh;
}

div.container-users > div.div-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container-users > div.div-avatar > img {
    border: 5px solid red;
    width: 60%;
    height: 90%;
    border-radius: 50%;
    margin: 0 2rem;
}